*{
  margin: 0;
  padding: 0;
}

.App {
  padding: 50px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subhead{
  color: #61dafb;
  margin: 10px;
}

.input{
  padding: 0.2em;
  height: 50px;
  width: 500px;
  font-size: 30px;
  margin: 10px;
}

.new-user-button, .register{
  margin: 30px;
}

.load-image{
  margin-right: 2rem;
  animation: rotate 1s linear infinite;
}

.add-user{
  display:flex;
  flex-direction: column;
}

.table{
  margin-top: 50px;
  width: 80vw !important;
}

.profile{
  color: black !important;
}

.profile-list{
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
